{% load static %}
<title>Forgot Password</title>
<link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" id="bootstrap-css">
<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/all.css">

<div class="container">
<br>

<div class="row justify-content-center">
<div class="col-md-6">
<div class="card">
<header class="card-header">
	<h4 class="card-title mt-2">{% block title %}{% endblock %}</h4>
</header>
<article class="card-body">
	{% if errors %}
	<div class="alert alert-danger" role="alert">{{ errors }}</div>
	{% endif %}
	{% if success %}
	<div class="alert alert-success" role="alert">{{ success }}</div>
	{% endif %}
	{% if successLogout %}
	<div class="alert alert-success" role="alert">{{ successLogout }}</div>
	{% endif %}
    {% block content %}

    {% endblock %}
</article> <!-- card-body end .// -->
<div class="border-top card-body text-center"><a href="{% url 'signup_page' %}">Sign Up</a> | <a href="{% url 'login_page' %}">Login</a></div>
</div> <!-- card.// -->
</div> <!-- col.//-->

</div> <!-- row.//-->


</div> 
<!--container end.//-->

<br>&nbsp;
<br>&nbsp;