{% extends 'accounts/base-forgot-password.html' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}
<form method="POST" >
	{% csrf_token %}
	<div class="form-group">
		<label>Email address / Username</label>
		<input type="text" name="username" class="form-control" minlength="2" placeholder="">
	</div> <!-- form-group end.// -->
	 
    <div class="form-group">
        <button type="submit" class="btn btn-primary btn-block"> Reset Password  </button>
    </div> <!-- form-group// -->                  
</form>
{% endblock %}