{% block header_nav %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home_page' %}">DjQuora</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="{% url 'home_page' %}">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'dashboard_page' %}">Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search_handler' %}">Search</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'view_all_categories' %}">All Categories</a>
          </li>
          {% if request.user.id %}
          <li class="nav-item dropdown">        
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{ request.user.username }}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="{% url 'profile_page' request.user.username %}">Profile</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'logout_page' %}">Logout</a>
            </div>
          {% else %}
          <li class="nav-item dropdown">
            <a class="nav-link" href="{% url 'login_page' %}">Login</a>
          {% endif %}
          </li>
        </ul>
      </div>
    </div>
  </nav>
{% endblock %}