<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>{{ home_page_title }}</title>

  <!-- Bootstrap core CSS -->
  <link href="{{ static_url }}vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="{{ static_url }}css/home-page.css" rel="stylesheet">

</head>

<body>

   <!-- Navigation -->
    {% include 'core/base-header.html' %}

  <!-- Page Content -->
  <div class="container">

    <!-- Jumbotron Header -->
    <header class="jumbotron my-4">
      <h1 class="display-3">A Warm Welcome!</h1>
      <p class="lead">Ask a question here.</p>
      <a href="{% url 'question_action' 'add' %}" class="btn btn-primary btn-lg">Ask a Question</a>
      {% if not request.user.id %}<a href="{% url 'signup_page' %}" class="btn btn-success btn-lg">Signup</a>{% endif %}
    </header>

    <!-- Page Features -->
    <div class="row text-center">

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x325" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Ask Question</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'question_action' 'add' %}" class="btn btn-primary">Click here</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x325" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Explore Categories</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'view_all_categories' %}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x325" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Signup</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente esse necessitatibus neque.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'signup_page' %}" class="btn btn-primary">Find Out More!</a>
          </div>
        </div>
      </div>

      <div class="col-lg-3 col-md-6 mb-4">
        <div class="card h-100">
          <!-- <img class="card-img-top" src="http://placehold.it/500x325" alt=""> -->
          <div class="card-body">
            <h4 class="card-title">Login</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo magni sapiente, tempore debitis beatae culpa natus architecto.</p>
          </div>
          <div class="card-footer">
            <a href="{% url 'login_page' %}" class="btn btn-primary">Login now!</a>
          </div>
        </div>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <!-- Footer -->
  <footer class="py-5 bg-dark">
    <div class="container">
      <p class="m-0 text-center text-white">Copyright &copy; Your Website 2019</p>
    </div>
    <!-- /.container -->
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{{ static_url }}vendor/jquery/jquery.min.js"></script>
  <script src="{{ static_url }}vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>